= semantic_form_for [:admin, @customer] do |f|
	= f.inputs "Customer Information" do
		= f.input :first_name
		= f.input :last_name
		= f.input :email
		= f.input :annual_percentage_rate
		= f.input :credit_line
		= f.input :start_date, hint: "Date 30 day payment period starts"
	#CustomerTransaction
		= f.semantic_fields_for :customer_transactions do |ct|
			= render 'customer_transaction_fields', :f => ct
		.links
			= link_to_add_association 'add transaction', f, :customer_transactions
	= f.actions
	