= semantic_form_for [:admin, @customer] do |f|
	= f.inputs "Customer Information" do
		= f.input :first_name
		= f.input :last_name
		= f.input :email
		= f.input :annual_percentage_rate
		= f.input :credit_line
	= f.actions
	